form{
	border: 1px solid transparent;
	width: 30%;
	margin-left: 35%;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}
input, select{
	border-left: none;
	border-top: none;
	border-right: none;
	outline: none;
	margin: 0% 0% 5% 0%;
	font-size: 20px;
	padding: 0%;
	height: 32px;
}
.double{
	width: 45%;
}
button{
	width: 85%;
	height: 50px;
	border-radius: 25px;
	background-color: #036bfc;
	color: white;
	font-size: 17px;
	margin-bottom: 10px;
	outline: none;
}
a{
	text-decoration:none;
}